* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:rgb(17, 89, 204);
}

header {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-width: 2px;
    margin-right: 800px;
    
}

footer {
    text-align: center;
}
#avatar {
width: 300px;
padding: 20px 10px;
border-width: 2px;
border-color: black;
background-color: blueviolet;
align: center;
}

#debug {
    width: 500px;
}

.work {
    flex: auto;
}

.tabs li {
    display: inline-flex;
    text-align: right;
    
}   
  
#about {
    margin-right: 300px;
}

.work {
    flex: auto;
    width: 300px;
    margin: 10Spx 20px;
}

#movieApp:hover {
    background-color: aqua;
    content: attr(alt);
}